
week4/dataset/.DS_Store
week4/dataset/database.db
week4/dataset/database.db-shm
week4/dataset/database.db-wal
week4/dataset/database.py
week4/dataset/gerrard-hall/.DS_Store
week4/dataset/gerrard-hall/database.db
week4/dataset/gerrard-hall/database.db-shm
week4/dataset/gerrard-hall/database.db-wal
week4/dataset/gerrard-hall/images/IMG_2331.JPG
week4/dataset/gerrard-hall/images/IMG_2332.JPG
week4/dataset/gerrard-hall/images/IMG_2333.JPG
week4/dataset/gerrard-hall/images/IMG_2334.JPG
week4/dataset/gerrard-hall/images/IMG_2335.JPG
week4/dataset/gerrard-hall/images/IMG_2336.JPG
week4/dataset/gerrard-hall/images/IMG_2337.JPG
week4/dataset/gerrard-hall/images/IMG_2338.JPG
week4/dataset/gerrard-hall/images/IMG_2339.JPG
week4/dataset/gerrard-hall/images/IMG_2340.JPG
week4/dataset/gerrard-hall/images/IMG_2341.JPG
week4/dataset/gerrard-hall/images/IMG_2342.JPG
week4/dataset/gerrard-hall/images/IMG_2343.JPG
week4/dataset/gerrard-hall/images/IMG_2344.JPG
week4/dataset/gerrard-hall/images/IMG_2345.JPG
week4/dataset/gerrard-hall/images/IMG_2346.JPG
week4/dataset/gerrard-hall/images/IMG_2347.JPG
week4/dataset/gerrard-hall/images/IMG_2348.JPG
week4/dataset/gerrard-hall/images/IMG_2349.JPG
week4/dataset/gerrard-hall/images/IMG_2350.JPG
week4/dataset/gerrard-hall/images/IMG_2351.JPG
week4/dataset/gerrard-hall/images/IMG_2352.JPG
week4/dataset/gerrard-hall/images/IMG_2353.JPG
week4/dataset/gerrard-hall/images/IMG_2354.JPG
week4/dataset/gerrard-hall/images/IMG_2355.JPG
week4/dataset/gerrard-hall/images/IMG_2356.JPG
week4/dataset/gerrard-hall/images/IMG_2357.JPG
week4/dataset/gerrard-hall/images/IMG_2358.JPG
week4/dataset/gerrard-hall/images/IMG_2359.JPG
week4/dataset/gerrard-hall/images/IMG_2360.JPG
week4/dataset/gerrard-hall/images/IMG_2361.JPG
week4/dataset/gerrard-hall/images/IMG_2362.JPG
week4/dataset/gerrard-hall/images/IMG_2363.JPG
week4/dataset/gerrard-hall/images/IMG_2364.JPG
week4/dataset/gerrard-hall/images/IMG_2365.JPG
week4/dataset/gerrard-hall/images/IMG_2366.JPG
week4/dataset/gerrard-hall/images/IMG_2367.JPG
week4/dataset/gerrard-hall/images/IMG_2368.JPG
week4/dataset/gerrard-hall/images/IMG_2369.JPG
week4/dataset/gerrard-hall/images/IMG_2370.JPG
week4/dataset/gerrard-hall/images/IMG_2371.JPG
week4/dataset/gerrard-hall/images/IMG_2372.JPG
week4/dataset/gerrard-hall/images/IMG_2373.JPG
week4/dataset/gerrard-hall/images/IMG_2374.JPG
week4/dataset/gerrard-hall/images/IMG_2375.JPG
week4/dataset/gerrard-hall/images/IMG_2376.JPG
week4/dataset/gerrard-hall/images/IMG_2377.JPG
week4/dataset/gerrard-hall/images/IMG_2378.JPG
week4/dataset/gerrard-hall/images/IMG_2379.JPG
week4/dataset/gerrard-hall/images/IMG_2380.JPG
week4/dataset/gerrard-hall/images/IMG_2381.JPG
week4/dataset/gerrard-hall/images/IMG_2382.JPG
week4/dataset/gerrard-hall/images/IMG_2383.JPG
week4/dataset/gerrard-hall/images/IMG_2384.JPG
week4/dataset/gerrard-hall/images/IMG_2385.JPG
week4/dataset/gerrard-hall/images/IMG_2386.JPG
week4/dataset/gerrard-hall/images/IMG_2387.JPG
week4/dataset/gerrard-hall/images/IMG_2388.JPG
week4/dataset/gerrard-hall/images/IMG_2389.JPG
week4/dataset/gerrard-hall/images/IMG_2390.JPG
week4/dataset/gerrard-hall/images/IMG_2391.JPG
week4/dataset/gerrard-hall/images/IMG_2392.JPG
week4/dataset/gerrard-hall/images/IMG_2393.JPG
week4/dataset/gerrard-hall/images/IMG_2394.JPG
week4/dataset/gerrard-hall/images/IMG_2395.JPG
week4/dataset/gerrard-hall/images/IMG_2396.JPG
week4/dataset/gerrard-hall/images/IMG_2397.JPG
week4/dataset/gerrard-hall/images/IMG_2398.JPG
week4/dataset/gerrard-hall/images/IMG_2399.JPG
week4/dataset/gerrard-hall/images/IMG_2400.JPG
week4/dataset/gerrard-hall/images/IMG_2401.JPG
week4/dataset/gerrard-hall/images/IMG_2402.JPG
week4/dataset/gerrard-hall/images/IMG_2403.JPG
week4/dataset/gerrard-hall/images/IMG_2404.JPG
week4/dataset/gerrard-hall/images/IMG_2405.JPG
week4/dataset/gerrard-hall/images/IMG_2406.JPG
week4/dataset/gerrard-hall/images/IMG_2407.JPG
week4/dataset/gerrard-hall/images/IMG_2408.JPG
week4/dataset/gerrard-hall/images/IMG_2409.JPG
week4/dataset/gerrard-hall/images/IMG_2410.JPG
week4/dataset/gerrard-hall/images/IMG_2411.JPG
week4/dataset/gerrard-hall/images/IMG_2412.JPG
week4/dataset/gerrard-hall/images/IMG_2413.JPG
week4/dataset/gerrard-hall/images/IMG_2414.JPG
week4/dataset/gerrard-hall/images/IMG_2415.JPG
week4/dataset/gerrard-hall/images/IMG_2416.JPG
week4/dataset/gerrard-hall/images/IMG_2417.JPG
week4/dataset/gerrard-hall/images/IMG_2418.JPG
week4/dataset/gerrard-hall/images/IMG_2419.JPG
week4/dataset/gerrard-hall/images/IMG_2420.JPG
week4/dataset/gerrard-hall/images/IMG_2421.JPG
week4/dataset/gerrard-hall/images/IMG_2422.JPG
week4/dataset/gerrard-hall/images/IMG_2423.JPG
week4/dataset/gerrard-hall/images/IMG_2424.JPG
week4/dataset/gerrard-hall/images/IMG_2425.JPG
week4/dataset/gerrard-hall/images/IMG_2426.JPG
week4/dataset/gerrard-hall/images/IMG_2427.JPG
week4/dataset/gerrard-hall/images/IMG_2428.JPG
week4/dataset/gerrard-hall/images/IMG_2429.JPG
week4/dataset/gerrard-hall/images/IMG_2430.JPG
week4/dataset/gerrard-hall/reconstruction.ply
week4/dataset/gerrard-hall/sparse/.DS_Store
week4/dataset/gerrard-hall/sparse/0/cameras.bin
week4/dataset/gerrard-hall/sparse/0/images.bin
week4/dataset/gerrard-hall/sparse/0/points3D.bin
week4/dataset/gerrard-hall/sparse/cameras.txt
week4/dataset/gerrard-hall/sparse/images.txt
week4/dataset/gerrard-hall/sparse/points3D.txt
week4/dataset/gerrard-hall/sparse/project.ini
week4/dataset/sparse/0/cameras.bin
week4/dataset/sparse/0/cameras.txt
week4/dataset/sparse/0/images.bin
week4/dataset/sparse/0/images.txt
week4/dataset/sparse/0/points3D.bin
week4/dataset/sparse/0/points3D.txt
week4/dataset/sparse/project.ini
week2/Data/.DS_Store
week2/Data/aerial/site13/frame00000.png
week2/Data/aerial/site13/frame00002.png
week2/Data/aerial/site13/frame00003.png
week2/Data/aerial/site22/frame_00001.tif
week2/Data/aerial/site22/frame_00018.tif
week2/Data/aerial/site22/frame_00030.tif
week2/Data/calib/graffiti1.tif
week2/Data/calib/graffiti2.tif
week2/Data/calib/graffiti3.tif
week2/Data/calib/graffiti4.tif
week2/Data/calib/graffiti5.tif
week2/Data/calib/template.jpg
week2/Data/castle_int/0014_s.png
week2/Data/castle_int/0015_s.png
week2/Data/castle_int/0016_s.png
week2/Data/llanes/llanes_a.jpg
week2/Data/llanes/llanes_b.jpg
week2/Data/llanes/llanes_c.jpg
week2/Data/logos/logo_master.png
week2/Data/logos/logoUPF.png
week2/Data/logos/UPFbuilding.jpg
week2/Data/logos/UPFstand.jpg
week3/Data/0000_s.png
week3/Data/0001_rectified_s.png
week3/Data/0001_s.png
week3/Data/0002_rectified_s.png
week3/Data/0002_s.png
week3/Data/0003_s.png
week3/Data/0018_s.png
